@import "variables";

.controls-container {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 125px;
	width: 300px;
	height: 100px;
	background-color: $dark-main-light;
	display: flex;
	padding-top: 10px;
	box-sizing: border-box;
	gap: 10px;
	place-content: center;
	border-radius: 5px;

	.pause-button {
		position: relative;
		background-color: $light-main;
		height: 42px;
		width: 42px;
		border-radius: 50%;
		display: grid;
		place-content: center;
		cursor: pointer;

		svg {
			transform: scale(1);
		}
	}

	.prev-button, .next-button {
		position: relative;
		height: 32px;
		width: 32px;
		top: 5px;
		display: grid;
		place-content: center;
		cursor: pointer;
	}
}