@import "variables";
 
.slider-container {
	position: absolute;
	bottom: 25px;
	width: calc(100% - 150px);
	max-width: 800px;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	cursor: pointer;
	display: grid;

	> div {
		pointer-events: none;
		user-select: none;
	}

	.slider-bg {
		position: absolute;
		width: 100%;
		height: 5px;
		place-self: center;
		background-color: $gray-main;
		border-radius: 5px;
	}

	.slider-fill {
		position: absolute;
		height: 5px;
		left: 0px;
		place-self: center;
		background-color: $light-main;
		border-radius: 5px;
	}

	.slider-ball {
		position: absolute;
		width: 11px;
		height: 11px;
		left: 0px;
		place-self: center;
		background-color: white;
		border-radius: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0 2px black;
	}

	.slider-hover {
    position: relative;
    padding: 10px;
    background-color: purple;
    width: max-content;
    top: -100px;
		display: none;
	}

	.current-time, .duration {
		position: absolute;
		top: 7px;
	}

	.current-time {
		right: calc(100% + 10px);
	}
	.duration {
		left: calc(100% + 10px);
	}
}

.slider-footer {
	background-color: #181818;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 80px;
}